body,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    background-color: #2370f4;
    color: white;
    padding: 30px;
}

.logo{
    cursor: pointer;
}

.cart-icon-container{
    gap: 7px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.cart-badge{
    position: absolute;
    bottom: 80%;
    left: 80%;
    background: green;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 14px;
    border-radius: 50%;
}

.checkout{
    gap: 20px;
    height: 80vh;
}

.flex-r{
    display: flex;
}

.flex-c{
    display: flex;
    flex-direction: column;
}

.sp-bw{
    justify-content: space-between;
}

.flex-ctr-hr{
    align-items: center;
}

.flex-ctr-vt{
    justify-content: center;
}